name: Test Modules

on:
  workflow_dispatch:
  push:
    tags:
      - "*"
    branches:
      - "*"
  pull_request:
    branches: [main]
    types: [opened]

jobs:
  lint:
    uses: ./.github/workflows/consistency_checks.yml
  test-deno:
    uses: ./.github/workflows/deno_checks.yml
  test-node:
    uses: ./.github/workflows/node_checks.yml
  test-unsafe:
    uses: ./.github/workflows/unsafe_checks.yml
  coveralls-finish:
    needs: [test-deno, test-node, test-unsafe]
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@v2
        with:
          parallel-finished: true
